.home__btns {
  display: flex;
}

.homefooter-form {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.homefooter-form__container {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin: 0 0 40px 10px;
}

.home__task-text {
  font-size: 30px;
  margin: 5px;
}

.home__task-note {
  font-size: 24px;
  color: #999999;
  margin: 5px;
}

.home__task-link {
  font-size: 24px;
  margin: 5px;
}