.home__btns {
  display: flex;
}

.homefooter-form {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.homefooter-form__container {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin: 0 0 40px 10px;
}