.wrapper {
  margin: auto;
  width: fit-content;
  padding: 10px;

  > div {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px dashed black;
    width: 500px;
  }
}

.dm-wrapper {
  > div {
    border: 1px dashed white;
  }
}