/tmp
/node_modules
*.log

/backend/node-server/node_modules
/backend/node-server/storage
/backend/node-server/static/bundle.js

/frontend/react-app/node_modules
/frontend/vanilla-app/node_modules
/frontend/vanilla-app/coverage