.svg--primary-color {
  fill: #000000;
  stroke: #000000;
}

.svg--marked-color {
  fill: #ff0000;
  stroke: #ff0000;
}

.svg__0 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:6.365;
}

.svg__1 {
  stroke-miterlimit:4;
  stroke-width:5.40136;
}

.svg__2 {
  stroke-miterlimit:4;
  stroke-width:3.35785;
}

.svg__3 {
  stroke-miterlimit:4;
  stroke-width:15.0086;
}

.svg__4 {
  stroke-miterlimit:4;
  stroke-width:0.30415;
  stroke:#ffffff;
}

.svg__5 {
  stroke-miterlimit:4;
  stroke-width:0;
  stroke:#ffffff;
}

.svg__6 {
  stroke-width:0.51349;
}

.svg__7 {
  fill:#ffffff;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:3.5161;
}

.svg__8 {
  stroke-miterlimit:4;
  stroke-width:0.710406;
}

.svg__9 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:0.710406;
}

.svg__10 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:0.426368;
}

.svg__11 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:0.284349;
}

.svg__12 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:2.98064;
}

.svg__13 {
  stroke-width:0.264583px;
}

.svg__14 {
  stroke-miterlimit:4;
  stroke-width:1.51275;
}

.svg__15 {
  stroke-miterlimit:4;
  stroke-width:12.7181;
}

.svg__16 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:0;
}

.svg__17 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:0;
}

.svg__18 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:1.41737;
}

.svg__19 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:1.41729;
}

.svg__20 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:1.42875;
}

.svg__21 {
  fill:#ffffff;
  stroke-width:5.32149;
}

.svg__22 {
  fill:#ffffff;
  stroke-width:9.34794;
}

.svg__23 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:1.30297;
}

.svg__24 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:1.05972;
}

.svg__25 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:2.16436;
}

.svg__26 {
  stroke-miterlimit:4;
  stroke-width:1.70479;
}

.svg__27 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:4.26374;
}

.svg__28 {
  display:inline;
  stroke-miterlimit:4;
  stroke-width:1.73946;
}

.svg__29 {
  fill:#ffffff;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:9.5549;
}

.svg__30 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:5.53206;
}

.svg__31 {
  stroke-miterlimit:4;
  stroke-width:0;
}

.svg__32 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:0;
  stroke:#ffffff;
}

.svg__33 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:1.24429;
}

.svg__34 {
  fill:#ffffff;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:17.6381;
}

.svg__35 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:5.87859;
  stroke:#ffffff;
}

.svg__36 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:1.3435;
}

.svg__37 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:1.03771;
}

.svg__38 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:1.36645;
}

.svg__39 {
  fill:#ffffff;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:11.3217;
}

.svg__40 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:3.54481;
}

.svg__41 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:4.06074;
}

.svg__42 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:5.26981;
}

.svg__43 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:2.48;
  stroke:#ffffff;
}

.svg__44 {
  stroke-width:3.03423;
}

.svg__45 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:4.1;
}

.svg__46 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:3.12487;
}

.svg__47 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:2.565;
}

.svg__48 {
  fill:#ffffff;
  stroke-width:2.30875;
}

.svg__49 {
  stroke-width:2.35094;
}

.svg__50 {
  stroke-width:2.52491;
}

.svg__51 {
  fill:#ffffff;
  stroke-width:0.545379;
}

.svg__52 {
  stroke-width:0.337122;
}

.svg__53 {
  stroke-miterlimit:4;
  stroke-width:8.1;
}

.svg__54 {
  fill:#ffffff;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:8.1;
}

.svg__55 {
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:8.10001;
}

.svg__56 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.79733;
}

.svg__57 {
  stroke-width:0.817991;
}

.svg__58 {
  stroke-width:0.713821;
}

.svg__59 {
  display:inline;
  fill:#ffffff;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:4.70932;
}

.svg__60 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:5.27975;
}

.svg__61 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:4.18857;
}

.svg__62 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:2.231;
}

.svg__63 {
  stroke-miterlimit:4;
  stroke-width:2.14938;
}

.svg__64 {
  stroke-miterlimit:4;
  stroke-width:1.1619;
  stroke:#ffffff;
}

.svg__65 {
  stroke-miterlimit:4;
  stroke-width:0.231311;
  stroke:#ffffff;
}

.svg__66 {
  fill:#ffffff;
  stroke-width:1.40319;
}

.svg__67 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:2.10186;
}

.svg__68 {
  stroke-miterlimit:4;
  stroke-width:1.491;
  stroke:#ffffff;
}

.svg__69 {
  stroke-miterlimit:4;
  stroke-width:0.600001;
  stroke:#ffffff;
}

.svg__70 {
  stroke-miterlimit:4;
  stroke-width:0.381763;
}

.svg__71 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.92136;
}

.svg__72 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:3.48871;
}

.svg__73 {
  stroke-width:0.210983px;
}

.svg__74 {
  stroke-miterlimit:4;
  stroke-width:1;
}

.svg__75 {
  stroke-miterlimit:4;
  stroke-width:0.999999;
}

.svg__76 {
  stroke-miterlimit:4;
  stroke-width:6.6182;
}

.svg__77 {
  stroke-miterlimit:4;
  stroke-width:0.716646;
}

.svg__78 {
  fill:#ff0000;
  stroke-miterlimit:4;
  stroke-width:2.052;
  stroke:#ffffff;
}

.svg__79 {
  font-size:16.7046px;
  font-weight:bold;
  stroke-miterlimit:4;
  stroke-width:1.57839;
}

.svg__80 {
  fill:#ffffff;
  font-family:Arial;
  font-size:16.7046px;
  font-weight:bold;
  stroke-miterlimit:4;
  stroke-width:1.57839;
}

.svg__81 {
  stroke-miterlimit:4;
  stroke-width:7.75559;
}

.svg__82 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:10.121;
}

.svg__83 {
  stroke-miterlimit:4;
  stroke-width:2.052;
}

.svg__84 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:0;
}

.svg__85 {
  font-family:Arial;
  font-size:74.7716px;
  font-weight:bold;
  stroke-width:1.86929;
}

.svg__86 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:1.36646;
}

.svg__87 {
  stroke-miterlimit:4;
  stroke-width:4.08219;
}

.svg__88 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:3.94712;
}

.svg__89 {
  stroke-miterlimit:4;
  stroke-width:2.51207;
}

.svg__90 {
  stroke-miterlimit:4;
  stroke-width:0.886507;
  stroke:#ffffff;
}

.svg__91 {
  stroke-miterlimit:4;
  stroke-width:1.68985;
}

.svg__92 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.68985;
}

.svg__93 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.62832;
}

.svg__94 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.58198;
}

.svg__95 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:2.234;
}

.svg__96 {
  display:inline;
  stroke-dashoffset:0;
  stroke-miterlimit:4;
  stroke-width:4.11015;
}

.svg__97 {
  stroke-miterlimit:4;
  stroke-width:0.766544;
}

.svg__98 {
  stroke-miterlimit:4;
  stroke-width:0.782402;
}

.svg__99 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:0.882365;
}

.svg__100 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.14285;
}

.svg__101 {
  display:inline;
}

.svg__102 {
  display:inline;
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:2.59766;
}

.svg__103 {
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.06149;
}

.svg__104 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:0.8;
}

.svg__105 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:0.865;
}

.svg__106 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:0.804;
}

.svg__107 {
  stroke-miterlimit:4;
  stroke-width:1.03356;
}

.svg__108 {
  display:inline;
  fill:#ffffff;
  stroke-miterlimit:4;
  stroke-width:1.03356;
}

.svg__109 {
  fill:none;
  stroke-width:0.264583px;
}

.svg__110 {
  display:inline;
  fill:none;
  stroke-width:0.264583px;
}

.svg__111 {
  fill:none;
  stroke-miterlimit:4;
  stroke-width:1.065;
}
