.btn {
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 0.6em;
  font-weight: 600;
  margin: 0.6em 0.6em 0.6em 0em;
  cursor: pointer;
}

.btn__close {
  position: absolute;
  margin-top: 0.1em;
  left: 91%;
  width: 1em;
  height: 40px;
  border-radius: 3em;
  border: none;
  background-color: #24292e;
  color: #fff;
  cursor: pointer;
}

.btn__close:hover {
  text-shadow: 1px 1px #fff;
}

.btn__close:active {
  color: #aaa;
}

.btn--primary {
  background-color: #34a1eb;
  border: 1px solid #34a1eb;
  color: #fff;
}

.btn--primary:hover {
  background-color: #006cb4;
  box-shadow: 2px 2px 0px #006cb4;
}

.btn--secondary {
  background-color: #636c7a;
  border: 1px solid #636c7a;
  color: #fff;
}

.btn--secondary:hover {
  background-color: #393f47;
  box-shadow: 2px 2px 0px #393f47;
}

.btn--info {
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
}

.btn--success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.btn--warning {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}

.btn--error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.btn:active {
  transform: translateY(4px);
}

.btn--inherit {
  color: inherit;
  background-color: inherit;
}

.btn--small {
  font-size: 16px;
  width: 80px;
}