.checkbox__container {
  display: flex;
  margin-bottom: 10px;
}

.checkbox__title {
  margin-right: 10px;
  font-size: 20px;
}

.checkbox__subcontainer {
  display: flex;
  flex-direction: row;
}

.checkbox__box {
  margin-right: 5px;
}

.checkbox__label {
  margin-right: 10px;
}