.dropdown {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
}

.dropdown__label {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.dropdown__content {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
 
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.dropdown__item {
  border-bottom: 1px solid white;
  flex: 1;
  cursor: pointer;
}

.dropdown__item--active {
  background-color:rgb(24, 0, 68);
}

.dropdown__item:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}