.textrenderer {
  margin: 10px 0 10px 0;
}

.textarea__container {
  display: flex;
  flex-direction: column;
}

.input-field-group {
  display: flex;
}

.input-field-group--vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.input-field-group__title {
  font-size: 20px;
  margin-right: 10px;
}

.input-field {
  display: flex;
  margin: 0.2em;
}

.input-field__item {
  width: 1.2em;
  height: 1.2em;
  margin-right: 10px;
}

.input-field__item:active {
  box-shadow: 1px 1px 4px 1px #2e8fff;
}

.input-field__label {
  font-size: 20px;
  line-height: 20px;
}