.input__flex {
  display: flex;
  width: 25em;
  margin: 0.2em;
}

.input__label {
  flex: 1;
  margin: auto 10px;
}

.input__item {
  line-height: 20px;
  width: 1.2em;
  height: 1.2em;
}

.input__field {
  flex: 1;
}

.input__error {
  color: red;
}

.textarea__container {
  display: flex;
  flex-direction: column;
}

.textarea--full-size {
  height: 600px;
  width: 90%;
}

.textarea-regular-size {
  height: 400px;
  width: 1200px;
}

.input-field-group {
  display: flex;
}

.input-field-group--vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.input__group-title {
  flex: 1;
}