.input--horizontal {
  display: inline-flex;
  white-space: nowrap;
  gap: 10px;
}

.input__label {
  flex: 1;
  margin: auto 0;
  display: block;
}

.input__item-container {
  flex: 1;
  display: flex;
  margin: 10px 0px;
}

.input__item-field {
  line-height: 20px;
  margin-right: 5px;
  width: 300px;
}

.input__item-label {
  cursor: pointer;
}

.input__error {
  color: red;
}

.textarea__container {
  display: flex;
  flex-direction: column;
}

.textarea__field {
  height: 700px;
  font-family: system-ui;
  border: 1px solid #aaaaaa;
  box-shadow: 0px 0px 10px 1px #aaaaaa;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.textarea__field:focus {
  outline: 2px solid #999999;
  box-shadow: 0px 0px 5px 5px #cccccc;
}

.number-range__field {
  line-height: 20px;
  margin-right: 10px;
  width: 80px;
}

.item-creator__label {
  padding-top: 8px;
}