.generator {
  display: flex;
}

.generator__form_container {
  flex: 1;
  margin-right: 30px;
}

.generator__visual_output {
  flex: 7;
  background-color: #eee;
  display: grid;
  place-items: center;
}

.generator__css_output {
  flex: 1;
  padding: 10px;
}

.generator__generated_css {
  border: 1px solid black;
  background: #eee;
  padding: 10px;
}