.generator {
  display: flex;
}

.generator__form_container {
  flex: 1;
  margin-right: 30px;
}

.generator__result_container {
  flex: 5;
}

.generator__box_parent {
  display: grid;
  place-items: center;
  width : 1280px; 
  height: 600px;
  background-repeat: no-repeat;
}

.generator__generated_css {
  border: 1px solid black;
  padding: 10px;
  white-space: pre-line;
}