.list {
  width: 40em;
  margin-bottom: 4em;
}

.list__header {
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(40, 44, 52);
  border: 1px solid rgb(40, 44, 52);
  color: white;
  text-align: center;
}

.list__content {
  background-color: #fff;
  border: 1px solid #e1e4d8;
  border-top: 1px solid #e1e4d8;
  padding: 10px;
  display: flex;
  text-align: center;
  place-items: center;
}

.list__content--vertical {
  display: flex;
  flex-direction: column;
}

.list__item {
  flex: 1;
  margin-right: 5px;
}

.list__timer-label {
  font-weight: 600;
  text-decoration: underline;
  margin-right: 0.5em;
}