@media only screen and (min-width: 166em) {
  .clipboard__container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 75%;
  } 
}

@media only screen and (min-width: 125em) and (max-width: 166em) {
  .clipboard__container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 83em) and (max-width: 125em) {
  .clipboard__container {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 83em) {
  .clipboard__container {
    display: flex;
    flex-direction: column;
  }
}