.title {
  text-align: center;
}

.calendar-month {
  margin: 10px auto;
  display: inline;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  height: 25px;
  background-color: black;
  color: white;
  text-align: center;
}

.calendar-header-span {
  flex: 1;
  border: 1px solid black;
}

.calendar-week {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: rgb(40, 44, 52);
}

.calendar-week-highlight {
  background-color: rgb(60, 60, 60);
}

.calendar-day {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  position: relative;
  color: white;
}

.calendar-day-span {
  position: absolute;
  left: 2px;
  top: -2px;
}

.calendar-day-input {
  margin-top: 15px;
  width: 40%;
}

.total-filler {
  flex: 7;
  background-color: rgb(255,255,255);
}

.total-cell {
  flex: 1;
  text-align: center;
  background-color: rgb(40, 44, 52);
  color: white;
  display: grid;
  place-items: center;
}

.total-week-cell {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  position: relative;
  background-color: rgb(40, 44, 52);
  color: white;
  display: grid;
  place-items: center;
}

.calendar-btn-group {
  display: flex;
  flex-direction: row;
}

.calendar-btn {
  flex: 1;
  background-color: #001133;
  border: 1px solid #001133;
  color: white;
  margin: 5px;
}

.calendar-btn:hover {
  background-color: #020713;
}

.save-btn {
  flex: 1;
  background-color: #020713;
  border: 1px solid #001133;
  color: white;
  margin: 5px;
}

.save-btn:hover {
  background-color: #001133;
}