.switch {
  list-style: none;
  margin-bottom: 1em;
  margin-right: 1em;
}

.switch__item {
  cursor: pointer;
  white-space: nowrap;
  height: 60px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  background-color: rgba(5,0,46);
  outline-offset: 2px;
  outline: 3px solid #000875;
  border-radius: 0px;
}

.switch__item--first {
  border-radius: 50px 0px 0px 50px;
}

.switch__item--last {
  border-radius: 0px 50px 50px 0px;
}
  
.switch__item:hover {
  transform: scale(1.05) ;
}
  
.switch__item:active {
  transform: translateY(5px) ;
}

.switch__item--active {
  background-color: rgba(0,235,90,1);
  border: 4px solid #008f1d;
}