@import 'reset.css';
@import 'navigation.css';

body {
  background-color: #f6f8fa;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}

[placeholder]:empty:focus::before {
  content: "";
}

.main {
  display: flex;
  flex-direction: row;
  height: 870px;
  width: 100%;
}

.center {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
}

.center-content {
  flex: 4;
}


.alert-field-container {
  margin: 0px auto;
  flex: 1;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.alert-field-container .alert-field {
  visibility: hidden;
  color: #fff;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 75%;
  margin-top: 5px;
}


.alert-field {
  margin: auto auto;
}

.alert-field-active .alert-field {
  visibility: visible;
}

.success {
  background-color: #4CAF50;
}

.info {
  background-color: #2196F3;
}

.error {
  background-color: #f44336;
}

.blinking-alert {
  animation: blinkingAlert 1.2s infinite;
}

@keyframes blinkingAlert {
  0% {
    color: #f00;
  }

  49% {
    color: #f00;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #f00;
  }
}