.page {
  height: 100%;
  display: flex;
}

.page__sidepanel {
  position: relative;
  width: 300px;
  border-right: 1px solid rgb(228, 228, 228);
}

.page__rightside {
  padding-left: 10px;
  width: 100%;
}

.pageheader {
  position: relative;
  height: 7em;
}

.pageheader__sidepanel_button {
  display: inline-block;
}

.pageheader__title {
  display: inline-block;
  margin-top: 0.2em;
}

.pagefooter {
  position: absolute;
  height: 50px;
  top: calc(100% - 150px);
}