.page {
  height: 100%;
  display: flex;
}

.sidepanel {
  width: 600px;
  border-right: 1px solid rgb(228, 228, 228);
}

.sidepanel--full {
  width: 100%;
}

.page__main {
  padding-left: 10px;
  width: 100%;
}

.page__main--hide {
  width: 0px;
}

.pageheader, .sidepanel__header--full {
  position: relative;
  height: 100px;
}

.sidepanel__header {
  height: 60px;
}

.pageheader__sidepanel_button,
.sidepanel__button {
  display: inline-block;
  margin-left: 10px;
}

.pageheader__title, 
.sidepanel__title {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.pagefooter {
  position: absolute;
  height: 50px;
  top: calc(100% - 150px);
}