.page {
  height: 100%;
  padding-left: 10px;
}

.pageheader {
  position: relative;
  height: 7em;
}

.pageheader__title {
 margin-top: 0.2em;
}

.pagefooter {
  position: absolute;
  height: 50px;
  top: calc(100% - 50px);
}