/*Key CSS is display, place-items, & flex - change width and height to see the effect*/
.ex1parent {
  display: grid;
  place-items: center;
  
  background: blue;
  width: 100px;
  height: 100px;
}

.ex1child {
  background: red;
  font-size: 2rem;
}

.ex2parent {
  display: flex;
  flex-wrap: wrap;
}

.ex2child {
  /* no stretch */
  flex: 0 1 300px;
  /* do stretch */
  flex: 1 1 300px;
  
  background: red;
  font-size: 2rem;
  text-align: center;
}