.btn {
  width: 8em;
  height: 3em;
  border: none;
  border-radius: 0.6em;
  font-weight: 600;
  margin: 0.6em;
  cursor: pointer;
}

.btn--primary {
  background-color: #0077ff;
  color: #fff;
}

.btn--primary:hover {
  background-color: #0050ac;
}

.btn--primary:active {
  box-shadow: 1px 1px 4px 4px #2e8fff;
}

.btn--secondary {
  background-color: #636c7a;
  color: #fff;
}

.btn--secondary:hover {
  background-color: #393f47;
}

.btn--secondary:active {
  box-shadow: 1px 1px 4px 4px #677180;
}