.modal-container {
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 100%;
  left: calc(50% - 300px);
  z-index: 1;
}

.modal-header {
  height: 100px;
  margin-bottom: 0px;
}

.modal-body {
  height: 300px;
}

.modal-content {
  height: 250px;
}

.modal-btns {
  height: 40px;
  margin: 5px;
  float: right;
}