.navigation {
  width: 100%;
  height: 3em;
  background-color: var(--primary-color);
	padding: 16px;
	font-size: 20px;
  display: flex;
  position: relative;
}

.navigation__time {
  position: relative;
  bottom: 0.3em;
  padding-top: 0.1em;
  display: flex;
  flex-direction: column;
  color: white;
  border-right: 1px solid white;
  height: 3.5em;
  width: 5em;
}

.navigation__time_label {
  font-size: 16px;
  white-space: nowrap;
}

.navigation__links {
  display: flex;
  padding-left: 1em;
  margin-top: 0.2em;
}

.navigation__links-item {
  font-size: 1.4em;
  color: #fff;
  margin-right: 1em;
  cursor: pointer;
  height: 1.4em;
  white-space: nowrap;
}

.navigation__links-item:hover {
  color: hsla(0, 0%, 100%, .7);
}

.navigation__links-item--active {
  border-bottom: 1px solid #fff;
}

.navigation__dropdown-container {
  margin-top: 0.2em;
}

.navigation__dropdown-label {
  background-color: var(--primary-color);
  font-size: 1.4em;
}

.navigation__dropdown-label:hover {
  color: hsla(0, 0%, 100%, .7);
}

.navigation__dropdown-content {
  background-color: var(--primary-color);
  margin-top: 35px;
}

.navigation__dropdown-item {
  border: 1px solid #2e353b;
}

.navigation__icon {
  fill:#ffffff;
  stroke:#ffffff;
  cursor: pointer;
  margin-right: 1em;
}

.navigation__icon:hover {
  fill:#cccccc;
  stroke:#cccccc;
}

.navigation__icon--active {
  border-bottom: 1px solid white;
}

.home-icon__roof {
  stroke-width:6;
}

.home-icon__chimney {
  stroke-width:5;
}

.home-icon__ceiling {
  stroke-width:15;
}

.settings-icon {
  stroke:var(--primary-color);
}

.file-icon {
  stroke:var(--primary-color);
  stroke-width:3;
}

.clipboard-icon__line {
  fill:var(--primary-color);
  stroke:var(--primary-color);
  stroke-width:1.00548;
}

.clipboard-icon__board {
  stroke:var(--primary-color);
  stroke-width:5;
}

.clipboard-icon__top {
  stroke:var(--primary-color);
  stroke-width:4;
}

.code-icon__arrow {
  stroke-width:0;
  stroke-dashoffset:0;
}

.code-icon__slash {
  stroke-width:0.713821
}

.data-icon__rect {
  stroke:var(--primary-color);
  stroke-width:5.32149
}

.data-icon__ellipse {
  stroke:var(--primary-color);
  stroke-width:9.34794
}

.flask-icon__bubble {
  fill:var(--primary-color);
  stroke:var(--primary-color);
}

.flask-icon__liquid {
  fill:var(--primary-color);
}

.flask-icon__outline {
  stroke-width:5;
}