.clipboard {
  background-color: green;
}

.command {
  background-color: yellow;
}

.link {
  background-color: red;
}

.download {
  background-color: magenta;
}

.date {
  background-color: blue;
}