.alert {
  position: absolute;
  left: calc(50% - 25em);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  height: 3em;
  width: 50em;
  border-radius: 0.5em;
  top: 1em;
}

.alert--info {
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
}

.alert--success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.alert--warning {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}

.alert--error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.alert__close {
  position: absolute; 
  left: 91%;
  width: 1em;
  font-size: 2em;
  border: none;
  color: #000;
  cursor: pointer;
}

.alert__close:hover {
  text-shadow: 1px 1px #000;
  border: none;
}

.alert__close:active {
  color: #aaa;
}
