.dropdown {
  position: relative;
  display: block;
  margin: 35px 10px 35px 0px;
}

.dropdown__label {
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 20px;
  white-space: nowrap;
  background-color: hsl(252deg 65% 33%);
  color: #fff;
  font-size: 1.4em;
}

.dropdown__content {
  min-width: 300px;
  max-height: 450px;
  overflow: auto;
  background-color: hsl(252deg 65% 33%);
  color: #fff;
 
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.dropdown__item {
  border: 1px solid hsl(252deg 64% 43%);
  flex: 1;
  cursor: pointer;
  padding: 15px 0 15px 20px;
}

.dropdown__item--active {
  background-color:hsl(214deg 100% 42%);
}

.dropdown__item:hover {
  background-color: hsl(252deg 64% 43%);
}