.swapselect-grid {
  display: flex;
}

.swapselect-multiselect {
  width: 25%;
}

.swapselect-btn-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapselect-swapright-btn {
  display: block;
  margin: 30px 20px 0px 20px;
}

.swapselect-swapleft-btn {
  margin: 10px 20px 0px 20px;
}