@import './reset.css';
@import './default.css';
@import './variables.css';

html {
  background-color: var(--primary-bg-color);
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
