.generator {
  display: flex;
}

.generator__result-container {
  flex: 1;
}

.generator__result-parent-box {
  display: grid;
  place-items: center;
  width : 1000px; 
  height: 600px;
  background-repeat: no-repeat;
  background-size: 1000px 600px;
}

.generator__form-container {
  flex: 1;
}

.generator__printed-css {
  border: 1px solid black;
  padding: 10px;
  white-space: pre-line;
}

.generator__form-title {
  font-size: 30px;
  margin-top: 30px;
}

.generator__form-options {
  display: flex;
}

.generator__form-fields {
  width: 90%;
}

.generator__form-selected-option {
  border-radius: 5px;
  border: 1px solid #070722;
  padding: 10px 15px;
  background-color: #eeeef3;
  min-width: 400px;
  max-width: 800px;
}

@media only screen and (min-width: 2500px) {
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 800px
  }
}

@media only screen and (max-width: 2500px) {
  .form-grid {
    display: flex;
    flex-direction: column;
  }
}