.swapselect-grid {
  display: flex;
}

.swapselect-btn-grid {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapselect-swapright-btn {
  display: block;
  margin: 10px;
}

.swapselect-swapleft-btn {
  margin: 10px;
}