.btn {
  width: 8em;
  height: 3em;
  border: none;
  border-radius: 0.6em;
  font-weight: 600;
  margin: 0.6em;
  cursor: pointer;
}

.btn--primary {
  background-color: #34a1eb;
  border: 1px solid #34a1eb;
  color: #fff;
}

.btn--primary:hover {
  background-color: #006cb4;
  box-shadow: 2px 2px 0px #006cb4;
}

.btn--primary:active {
  transform: translateY(4px);
}

.btn--secondary {
  background-color: #636c7a;
  border: 1px solid #636c7a;
  color: #fff;
}

.btn--secondary:hover {
  background-color: #393f47;
  box-shadow: 2px 2px 0px #393f47;
}

.btn--secondary:active {
  transform: translateY(4px);
}