
input[type="text"],
input[type="password"] {
  border-radius: 5px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 3px;
  font-size: 16px;
  margin: 5px;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 40px;
  min-width: 80px;
  font-size: 16px;
  margin: 5px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  border: 1px solid #888;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
  border: 1px solid #222;
}

input[type="radio"],
input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

select {
  min-height: 40px;
  min-width: 100px;
  font-size: 16px;
  border-radius: 8px;
}
