@import './reset.css';
@import './default.css';
@import './link.css';
@import './tooltip.css';

.root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #f6f8fa;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}

[placeholder]:empty:focus::before {
  content: "";
}

.container--center {
  margin: auto;
  width: 75%;
  padding: 10px;
}