.tabs {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  list-style: none;
}

.tabs__item {
  color: #1af;
  margin-right: 2em;
  padding: 0.5em;
  cursor: pointer;
  z-index:1;
}

.tabs__item--active {
  border-radius: 0.4em 0.4em 0 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #fff;
}