.icon--stroke-six {
  stroke-width:6;
}

.icon--stroke-ten {
  stroke-width:10;
}

.icon--grey {
  fill:#010202;
  stroke:#f6f8fa;
}

.icon--black {
  fill:#000000;
  stroke:#000000;
}

.icon--hollow {
  fill:#f6f8fa;
  stroke:#000000;
}

.icon--filled {
  fill:#000000;
  stroke:#f6f8fa;
}