.clipboard-content {
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #e1e4d8;
  border-top: none;
  display: grid;
  grid-template-columns: auto auto auto;
}

.clipboard-header {
  font-weight: 600;
  margin-top: 30px;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(40, 44, 52);
  border: 1px solid rgb(40, 44, 52);
  color: white;
  text-align: center;
}

.clipboard-cell {
  border-top: 1px solid #e1e4d8;
  padding: 10px;
  text-align:center;
  display: flex;
  text-align: center;
  place-items: center;
  justify-content: center;
}


.command-btn {
  background-color: #24292e;
  border: 1px solid #24292e;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  height: 30px;
  margin: 0px 5px;
}

.command-btn:active {
  background-color: #24292e;
  box-shadow: 0 5px #24292e;
  transform: translateY(4px);
}

.command-btn:hover {
  background-color: #24292e;
  border: 1px solid #24292e;
  color: white;
  box-shadow: 2px 2px 0px #24292e;
}

.copy-btn {
  background-color: #34a1eb;
  border: 1px solid #34a1eb;
  border-radius: 5px 5px 5px 5px;
  color: white;
  height: 30px;
  margin: 0px 5px;
}

.copy-btn:active {
  box-shadow: 0 5px #002741;
  transform: translateY(4px);
}

.copy-btn:hover {
  background-color: #006cb4;
  box-shadow: 2px 2px 0px #006cb4;;
}

.section-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-left: 50px;
}

.list-group {
  margin: 0 10px;
}

.section-title {
  margin-top: 20px;
  text-align: center;
}

.list-content {
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #e1e4d8;
}

.timer-cell {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}

.flex-item {
  flex: 1
}