.clipboard-content {
  height: 200px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #e1e4d8;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.clipboard-header {
  font-weight: 600;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(40, 44, 52);
  border: 1px solid rgb(40, 44, 52);
  color: white;
}

.clipboard-row {
  display: flex;
  flex-direction: row;
}

.clipboard-row:hover {
  background-color: #f6f8fa;
}

.clipboard-cell {
  flex: 1;
  border-top: 1px solid #e1e4d8;
  border-bottom: 1px solid #e1e4d8;
  padding: 10px;
}