.contentblock-parent {
  background-color: #f6f8fa;
  box-shadow: 0;
  margin: 20px;
  width: 80%;
  height: 250px;
  color: #000;
  transition: box-shadow 1s;
}

.contentblock-header {
  border-bottom: 1px solid rgb(40, 44, 52);
  border: 1px solid rgb(40, 44, 52);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  padding: 10px 0px 5px 10px;
  background-color: white;
}

.contentblock-title {
  font-size: 16px;
  flex-grow: 9;
  font-weight: 600;
}

.contentblock-btn {
  flex-grow: 1;
  font-size: 26px;
  font-weight: 500;
  margin: -5px 0px -5px;
}

.contentblock-btn:hover {
  font-weight: 600;
  cursor: pointer;
}

.contentblock-content {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 15px 15px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(40, 44, 52);
  padding: 20px;
}